<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Expenses</title>
</head>
<body>
  <style>
    table,td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    button {
    margin-bottom: 10px; /* Add margin below each button */
}

</style>
  <h1>Add Expenses</h1>
  
  <form id="expenseForm">
    <label for="expenseAmount">Expense Amount:</label>
    <input type="number" id="expenseAmount" name="expenseAmount" required><br><br>
    
    <label for="expenseDescription">Description:</label>
    <input type="text" id="expenseDescription" name="expenseDescription" required><br><br>
    
    <label for="expenseCategory">Choose a Category:</label>
    <select id="expenseCategory" name="expenseCategory">
      <option value="food">food</option>
      <option value="fuel">fuel</option>
      <option value="electricity">electricity</option>
      <option value="movie">movie</option>
      
    </select><br><br>
    
    <button type="submit">Add Expense</button>
  </form>
  <br>
  <button id="rzp-button1">Buy Premium</button> <br>
  
  <div id="content"></div>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <div id="premium"></div>
  <div id="expenseList"></div>
  <h1> Expenses </h1>
  <div style="display: flex; align-items: center;">
    <h3 style="margin-right: 10px;">Number of Expenses to be shown</h3>
    <select id="pagesize">
        <option value="2">2</option>
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="8">8</option>
        <option value="10">10</option>
    </select>
</div>

  <table id="myTable"></table>
  <div id="pagination"></div>
  <ul id="leaderboard"></ul> 
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
  <script src="/Javascript/expenses.js"></script>
</body>
</html>
