<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
</head>
<body>
    <h1>Expense Tracker</h1>
    <form id="expense-form" action="/" method="post">
        <label for="expense">Choose Expense:</label>
        <input type="text" id="expense" name="expense">
        
        <label for="description">Choose Description:</label>
        <input type="text" id="description" name="description">
        
        <label for="category">Choose a Category:</label>
        <select id="category" name="category">
            <option value="fuel">Fuel</option>
            <option value="food">Food</option>
            <option value="electricity">Electricity</option>
            <option value="movie">Movie</option>
            <!-- Add more options as needed -->
        </select>
        
        <input type="submit" value="Add Expense">
    </form>

    <ul id="expense-list">
        <!-- Expense items will be added here -->
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/Javascript/main.js"></script>
    
</body>
</html>
